$font-stack: Arial, Helvetica, sans-serif;
$font-size-def:16px;


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


.maincontainer{
    width: 100vw;
    height: auto;
    overflow: auto;
}
.container{
    width: 100%;
    height:auto;
}
.header-title{
    width: 100%;
    line-height: 5rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    display: block;

    
}

@mixin card-style {
       height: auto;
       margin-bottom: 15px;   
}

@mixin cardprojects{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 10px;
    // border: 3px solid gray;
}



// @keyframes rotation {
//     from {
//         transform: rotate(0deg);
//         color: rgba(155,193,204,.2);
//     }
//     to {
//         transform: rotate(359deg);
//         color: rgba(155,193,204,.1);
//     }
// }


// @keyframes rotation1 {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(-359deg);
//     }
// }